body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border: 3px solid black;
    border-radius: 20%;
    margin: 2rem;
}
.container{
    display: flex;
    justify-content: center;
}

.red{
    background-color:red;
}
.green{
    background-color: rgb(146, 207, 146);
}
.yellow{
    background-color: yellow;
}
.purple{
    background-color: purple;
}

.flash{
    background-color: white;
}
.userflash{
    background-color: green;
}
